<h2>profile page</h2>

<div class="row">
	<div class="col s3"></div>
		<img src="<%=currentUser.image%>" class="responsive-img">
	<div class="col s3"></div>
		<h4>Your Info</h4>
		<p>First Name: <%= currentUser.firstname%></p>
		<p>Last Name: <%= currentUser.lastname%></p>
		<p>Admin Status: <%= currentUser.admin ? 'yes' : 'no' %></p>
	</div>
</div>
