<%if(alerts.success){%>
	<% alerts.success.forEach(function(msg){%>
	<div class="row">
		<div class="card teal lighten-2">
			<%= msg%>
		</div>
	<%});%>
<%}%>

<%if(alerts.error){%>
	<% alerts.error.forEach(function(msg){%>
		<div class="row">
			<div class="card red darken-1">
			<%= msg%>
		</div>
	<%});%>
<%}%>